@font-face {
  font-family: 'Helvetica';
  font-weight: 400;
  src: url('/fonts/helvetica-regular.woff') format('woff'),
    url('/fonts/helvetica-regular.woff2') format('woff2');
}

html {
  font-family: 'Helvetica', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  padding: 30px 0 0 55px;
  color: #000;
  background: #fff;

  @media (max-width: $breakpoint-tablet) {
    padding: 30px 0 0 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  padding: 30px 0 0 0;
}
